@import "compass/css3";
@import "compass/utilities";
@import "../../mixin";
@import "../../variables";
@import "../../common";
.btn-toggle{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  @include border-radius(15px);
  border: 1px solid #999;
  background-color: #efefef;
  &:hover{
    cursor: pointer;
  }

  @at-root {
    .btn-toggle_icon{
      height: 16px;
      width: 16px;
      display: block;
      border: 1px solid #999;
      @include border-radius(50%);
      background-color: #ffffff;
      position: absolute;
      top: 1px;
      left: 1px;
    }
    .btn-toggle_on{
      background-color: #4caf50;
      border: 1px solid #4caf50;
    }

    .btn-toggle_on .btn-toggle_icon{
      right: 1px;
      left: auto;
    }
  }
}