@import "compass/css3";
@import "compass/utilities";
@import "../../mixin";
@import "../../variables";
@import "../../common";

.output-module{
  margin-top: 18px;
}
.output-tabs{
  position: relative;
  height: 31px;
}
.output-tab_item,.output-tab_item_current{
  @include background(linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237)));
  border-right: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  display: inline-block;
  color: #999999;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  &:hover{
    color: #000000;
  }
  &:first-child{
    border-left: 1px solid #CFCFCF;
  }
}
.output-tab_item_current{
  background: none;
  background-color: #ffffff;color: #000000;
}
.output-box-list{
  position: relative;
  margin-bottom: 20px;
}
.output-box-list .output-read{
  min-height: 100px;
}
.output-box-list .output_textarea{
  height: 100px;
}
.label-title{
  position: absolute;
  top: -15px;
  background: #f9f8e4;
  border: 1px solid #ecebc7;
  color: #9b8d72;
  z-index: 3;
  padding: 0px 5px;
}
.output-read{
  position: relative;
  border: 1px solid $gray;
  padding: 8px 8px 30px 8px;
  min-height: 200px;
  @include box-sizing(border-box);
  background-color: #f9f9f9;
}
.btn-out_accept .tip,.btn-output_edit .tip{
  display: none;
}
.btn-out_accept,.btn-output_edit{
  color: #000;
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  bottom: 0px;
  left: 10px;
  &:hover{
    color: $hoverBlue;
  }
  &:hover .tip{
    display: block;
  }
}
.btn-output_edit{
  left: 40px;
}
.output-read_hidden,.output-edit_hidden{
  display: none;
}

.output_textarea{
  width: 100%;
  @include box-sizing(border-box);
  padding: 8px;
  height: 200px;
  border: 1px solid $gray;
  outline: 0px;
  resize: none;
  &:focus{
    border: 1px solid $blue;
  }
}
.output-toolbar{
  @include clearfix;
}
.btn-cancel,.btn-confirm{
  @extend %btn;
  float: right;
  margin-left: 10px;
}
.btn-cancel{
  color: #999999;
  &:hover{
    color: #000000;
  }
}



.toggle-box{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
}
.toggle_label{
  float: left;
  color: #999999;
}
