@import "../base/variables";
@import "toolbar";
@import "select";
@import "sourceLanguage";
@import "aimLanguage";
@import "languageList";
@import "translateInput";
@import "translateOutput";

.header{
    background-color: #ffffff;
    &-inner{
        max-width: $globalWidth;
        margin: 0px auto;
        height: 31px;
        line-height: 31px;
        padding: 14px 0;
    }
    &-logo{
        img{
            display: block;
            width: 96px;
            height: 31px;
        }
    }
}

.divide {
    width: 100%;
    height: 100%;
    z-index: 11;
    background: url(//fanyi.bdstatic.com/static/translation/img/header/colorbar_623c2a2.png) center no-repeat;
    position: relative;
    &-wrap{
        position: relative;
        height: 1px;
        z-index: 1
    }
    &-before{
        content: "";
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 9;
        background-color: #1b24ff;
    }

    &-after{
        content: "";
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: 9;
        background-color: #fd0371

    }
}

.translate{
    max-width: $globalWidth;
    margin: 0px auto;
    background-color: #f0f0f0;
    &-left{
        float: left;
        width: 49.999999%;
        position: relative;
    }
    &-right{
        float: right;
        width: 49.999999%;
        position: relative;
    }
}