/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "mixin";
@import "variables";
@import "fonticon";


body{
  font: 14px/1.6 arial,helvetica,sans-serif;
  background-color: #ffffff;
}

%wrapper{
  @include center(1200px,left);
}

.hidden{
  display: none !important;
}

.tip{
  position: absolute;
  background-color: #0e78e7;
  color: #ffffff!important;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  top: -25px;
  left: -30px;
  text-align: center;
  @include border-radius(5px);
  @include transition(all 0.5s ease-in-out);
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #0e78e7;
    @include transform(rotate(45deg) translate(-50%,0));
    top: 20px;
    left: 50%;

  }
}

%btn{
  display: inline-block;
  text-decoration: none;
  width: 66px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #CFCFCF;
  @include background(linear-gradient(top,#fefefe, #ededed));
  color: #333;
  font-size: 14px;
  text-align: center;
}

.header{
  height: 45px;
  background: #0767c8;
  border-bottom: 1px solid #044e97;
  @include box-shadow(0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15));
  @include background(linear-gradient(to bottom,#086ed5,#055db5));

  @at-root {
    .header-inner{
      @extend %wrapper;
    }
    .header-logo{
      color: #ffffff;
      font-size: 20px;
      display: inline-block;
      height: 45px;
      line-height: 45px;
      text-decoration: none;
    }
  }
}

.main{
  @extend %wrapper;
  @include clearfix;
  margin-top: 30px;
  @at-root{
    .main-left{
      float: left;
      width: 49%;

      @at-root {
        .drop-box{
          display: inline-block;
          position: relative;
        }
        .drop-box_button{
          display: inline-block;
          background: #fff;
          border: 1px solid #dcdcdc;
          width: 176px;
          height: 30px;
          line-height: 30px;
          color: #333;
          text-align: center;
          text-decoration: none;
          &:hover{
            color: #4395ff;
          }
        }

        .drop-box_icon{
          margin-left: 5px;
        }
        .translate_icon{
          margin:0px 20px 0px 20px;
        }
        .drop-list{
          position: absolute;
          width: 600px;
          border: 1px solid #dcdcdc;
          background-color: #ffffff;
          z-index: 4;
          @include box-sizing(border-box);
          padding: 20px;
          top: 40px;
          &:before{
            content:'';
            display: block;
            background-color: #ffffff;
            position: absolute;
            width: 176px;
            height: 12px;
            top: -12px;
            left: -1px;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
          }
        }
        .drop-item,.drop-item_active{
          display: inline-block;
          height: 25px;
          line-height: 25px;
          padding: 0px 10px;
          margin-right: 5px;
          color: #000000;
          text-decoration: none;
          &:hover{
            background: #eef2fc;
          }
        }
        .drop-item_active{
          background: #eef2fc;
        }
        .btn-translate{
          @extend %btn;
          margin-top: 7px;
          border: 1px solid #045bb2;
          background: #0e78e7;
          @include background(linear-gradient(top,#0e7bef,#0d73da));
          @include box-shadow(0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15));
          color: #fff;
          @include text-shadow(0 1px 1px rgba(0,0,0,.12));
          @include transition(all .2s ease-in-out);
          margin-left: 20px;
          &:hover{
            @include background(linear-gradient(top,#0e7bef,#0e7bef));
          }
        }
        .input-box{
          margin-top: 10px;
          position: relative;
        }
        .input_textarea{
          display: block;
          width: 100%;
          height: 200px;
          resize: none;
          outline: none;
          border: 1px solid #dedede;
          @include box-sizing(border-box);
          padding: 8px;
          &:focus{
            border: 1px solid #4395ff;
          }
        }
        .btn-clear{
          position: absolute;
          right: 3px;
          top: 3px;
          color: #000000;
          text-decoration: none;
          &:hover{
            color: #4395ff ;
          }
        }
      }

      @at-root {
        .result-module{
          margin-top: 30px;
        }
        .result_label{
          color: #666;
          font-size: 12px;
        }
        .result-read{
          position: relative;
        }
        .result_word{
          line-height: 2;
        }
        .btn_result-edit{
          position: absolute;
          right: 0px;
          top:0px;
          color: #000000;
          text-decoration: none;
          &:hover{
            color: #0e78e7;
          }
        }
        .result_word{
          color: #459f49;
        }
        .result_textarea{
          width: 100%;
          @include box-sizing(border-box);
          padding: 8px;
          height: 100px;
          border: 1px solid #dedede;
          outline: 0px;
          resize: none;
          &:focus{
            border: 1px solid #4395ff;
          }
        }
        .result-edit_hidden,.result-read_hidden{
          display: none;
        }
      }
    }
    .main-right{
      float: right;
      width: 49%;
      @at-root {
        .output-module{
          margin-top: 18px;
        }
        .output-tabs{
          position: relative;
          height: 31px;
        }
        .output-tab_item,.output-tab_item_current{
          @include background(linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237)));
          border-right: 1px solid #CFCFCF;
          border-top: 1px solid #CFCFCF;
          display: inline-block;
          color: #999999;
          height: 30px;
          line-height: 30px;
          width: 100px;
          text-align: center;
          text-decoration: none;
          &:hover{
            color: #000000;
          }
          &:first-child{
            border-left: 1px solid #CFCFCF;
          }
        }
        .output-tab_item_current{
          background: none;
          background-color: #ffffff;color: #000000;
        }
        .output-box-list{
          position: relative;
          margin-bottom: 20px;
        }
        .output-box-list .output-read{
          min-height: 100px;
        }
        .output-box-list .output_textarea{
          height: 100px;
        }
        .label-title{
          position: absolute;
          top: -15px;
          background: #f9f8e4;
          border: 1px solid #ecebc7;
          color: #9b8d72;
          z-index: 3;
          padding: 0px 5px;
        }
        .output-read{
          position: relative;
          border: 1px solid #dedede;
          padding: 8px 8px 30px 8px;
          min-height: 200px;
          @include box-sizing(border-box);
          background-color: #f9f9f9;
        }
        .btn-out_accept .tip,.btn-output_edit .tip{
          display: none;
        }
        .btn-out_accept,.btn-output_edit{
          color: #000;
          text-decoration: none;
          position: absolute;
          font-size: 20px;
          bottom: 0px;
          left: 10px;
          &:hover{
            color: #0e78e7;
          }
          &:hover .tip{
            display: block;
          }
        }
        .btn-output_edit{
          left: 40px;
        }
        .output-read_hidden,.output-edit_hidden{
          display: none;
        }

        .output_textarea{
          width: 100%;
          @include box-sizing(border-box);
          padding: 8px;
          height: 200px;
          border: 1px solid #dedede;
          outline: 0px;
          resize: none;
          &:focus{
            border: 1px solid #4395ff;
          }
        }
        .output-toolbar{
          @include clearfix;
        }
        .btn-cancel,.btn-confirm{
          @extend %btn;
          float: right;
          margin-left: 10px;
        }
        .btn-cancel{
          color: #999999;
          &:hover{
            color: #000000;
          }
        }
      }
    }
  }
}

.toggle-box{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
}
.toggle_label{
  float: left;
  color: #999999;
}
.btn-toggle{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  @include border-radius(15px);
  border: 1px solid #999;
  background-color: #efefef;
  &:hover{
    cursor: pointer;
  }

  @at-root {
    .btn-toggle_icon{
      height: 16px;
      width: 16px;
      display: block;
      border: 1px solid #999;
      @include border-radius(50%);
      background-color: #ffffff;
      position: absolute;
      top: 1px;
      left: 1px;
    }
    .btn-toggle_on{
      background-color: #4caf50;
      border: 1px solid #4caf50;
    }

    .btn-toggle_on .btn-toggle_icon{
      right: 1px;
      left: auto;
    }
  }
}
