/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?hg46de");
  src: url("fonts/icomoon.eot?hg46de#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?hg46de") format("truetype"), url("fonts/icomoon.woff?hg46de") format("woff"), url("fonts/icomoon.svg?hg46de#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_fonticon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/_fonticon.scss */
.icon-arrow:before {
  content: "\e900";
}

/* line 30, ../sass/_fonticon.scss */
.icon-done:before {
  content: "\e901";
}

/* line 33, ../sass/_fonticon.scss */
.icon-down:before {
  content: "\e902";
}

/* line 36, ../sass/_fonticon.scss */
.icon-edit:before {
  content: "\e903";
}

/* line 39, ../sass/_fonticon.scss */
.icon-setting:before {
  content: "\e904";
}

/* line 42, ../sass/_fonticon.scss */
.icon-close:before {
  content: "\e905";
}

/* line 14, ../sass/screen.scss */
body {
  font: 14px/1.6 arial,helvetica,sans-serif;
  background-color: #ffffff;
}

/* line 19, ../sass/screen.scss */
.header-inner, .main {
  width: 1200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* line 23, ../sass/screen.scss */
.hidden {
  display: none !important;
}

/* line 27, ../sass/screen.scss */
.tip {
  position: absolute;
  background-color: #0e78e7;
  color: #ffffff !important;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  top: -25px;
  left: -30px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 40, ../sass/screen.scss */
.tip:after {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #0e78e7;
  -moz-transform: rotate(45deg) translate(-50%, 0);
  -ms-transform: rotate(45deg) translate(-50%, 0);
  -webkit-transform: rotate(45deg) translate(-50%, 0);
  transform: rotate(45deg) translate(-50%, 0);
  top: 20px;
  left: 50%;
}

/* line 54, ../sass/screen.scss */
.btn-translate, .btn-cancel, .btn-confirm {
  display: inline-block;
  text-decoration: none;
  width: 66px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #CFCFCF;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #fefefe, #ededed);
  background: -webkit-linear-gradient(top, #fefefe, #ededed);
  background: linear-gradient(to bottom, #fefefe, #ededed);
  color: #333;
  font-size: 14px;
  text-align: center;
}

/* line 67, ../sass/screen.scss */
.header {
  height: 45px;
  background: #0767c8;
  border-bottom: 1px solid #044e97;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4NmVkNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1NWRiNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #086ed5), color-stop(100%, #055db5));
  background: -moz-linear-gradient(top, #086ed5, #055db5);
  background: -webkit-linear-gradient(top, #086ed5, #055db5);
  background: linear-gradient(to bottom, #086ed5, #055db5);
}
/* line 78, ../sass/screen.scss */
.header-logo {
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
}

/* line 89, ../sass/screen.scss */
.main {
  overflow: hidden;
  *zoom: 1;
  margin-top: 30px;
}
/* line 94, ../sass/screen.scss */
.main-left {
  float: left;
  width: 49%;
}
/* line 99, ../sass/screen.scss */
.drop-box {
  display: inline-block;
  position: relative;
}

/* line 103, ../sass/screen.scss */
.drop-box_button {
  display: inline-block;
  background: #fff;
  border: 1px solid #dcdcdc;
  width: 176px;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-align: center;
  text-decoration: none;
}
/* line 113, ../sass/screen.scss */
.drop-box_button:hover {
  color: #4395ff;
}

/* line 118, ../sass/screen.scss */
.drop-box_icon {
  margin-left: 5px;
}

/* line 121, ../sass/screen.scss */
.translate_icon {
  margin: 0px 20px 0px 20px;
}

/* line 124, ../sass/screen.scss */
.drop-list {
  position: absolute;
  width: 600px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  z-index: 4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  top: 40px;
}
/* line 133, ../sass/screen.scss */
.drop-list:before {
  content: '';
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 176px;
  height: 12px;
  top: -12px;
  left: -1px;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

/* line 146, ../sass/screen.scss */
.drop-item, .drop-item_active {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0px 10px;
  margin-right: 5px;
  color: #000000;
  text-decoration: none;
}
/* line 154, ../sass/screen.scss */
.drop-item:hover, .drop-item_active:hover {
  background: #eef2fc;
}

/* line 158, ../sass/screen.scss */
.drop-item_active {
  background: #eef2fc;
}

/* line 161, ../sass/screen.scss */
.btn-translate {
  margin-top: 7px;
  border: 1px solid #045bb2;
  background: #0e78e7;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlN2JlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBkNzNkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e7bef), color-stop(100%, #0d73da));
  background: -moz-linear-gradient(top, #0e7bef, #0d73da);
  background: -webkit-linear-gradient(top, #0e7bef, #0d73da);
  background: linear-gradient(to bottom, #0e7bef, #0d73da);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: 20px;
}
/* line 172, ../sass/screen.scss */
.btn-translate:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlN2JlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlN2JlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e7bef), color-stop(100%, #0e7bef));
  background: -moz-linear-gradient(top, #0e7bef, #0e7bef);
  background: -webkit-linear-gradient(top, #0e7bef, #0e7bef);
  background: linear-gradient(to bottom, #0e7bef, #0e7bef);
}

/* line 176, ../sass/screen.scss */
.input-box {
  margin-top: 10px;
  position: relative;
}

/* line 180, ../sass/screen.scss */
.input_textarea {
  display: block;
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  border: 1px solid #dedede;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}
/* line 189, ../sass/screen.scss */
.input_textarea:focus {
  border: 1px solid #4395ff;
}

/* line 193, ../sass/screen.scss */
.btn-clear {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #000000;
  text-decoration: none;
}
/* line 199, ../sass/screen.scss */
.btn-clear:hover {
  color: #4395ff;
}
/* line 206, ../sass/screen.scss */
.result-module {
  margin-top: 30px;
}

/* line 209, ../sass/screen.scss */
.result_label {
  color: #666;
  font-size: 12px;
}

/* line 213, ../sass/screen.scss */
.result-read {
  position: relative;
}

/* line 216, ../sass/screen.scss */
.result_word {
  line-height: 2;
}

/* line 219, ../sass/screen.scss */
.btn_result-edit {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #000000;
  text-decoration: none;
}
/* line 225, ../sass/screen.scss */
.btn_result-edit:hover {
  color: #0e78e7;
}

/* line 229, ../sass/screen.scss */
.result_word {
  color: #459f49;
}

/* line 232, ../sass/screen.scss */
.result_textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  height: 100px;
  border: 1px solid #dedede;
  outline: 0px;
  resize: none;
}
/* line 240, ../sass/screen.scss */
.result_textarea:focus {
  border: 1px solid #4395ff;
}

/* line 244, ../sass/screen.scss */
.result-edit_hidden, .result-read_hidden {
  display: none;
}

/* line 249, ../sass/screen.scss */
.main-right {
  float: right;
  width: 49%;
}
/* line 253, ../sass/screen.scss */
.output-module {
  margin-top: 18px;
}

/* line 256, ../sass/screen.scss */
.output-tabs {
  position: relative;
  height: 31px;
}

/* line 260, ../sass/screen.scss */
.output-tab_item, .output-tab_item_current {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #fefefe, #ededed);
  background: -webkit-linear-gradient(top, #fefefe, #ededed);
  background: linear-gradient(to bottom, #fefefe, #ededed);
  border-right: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  display: inline-block;
  color: #999999;
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
/* line 271, ../sass/screen.scss */
.output-tab_item:hover, .output-tab_item_current:hover {
  color: #000000;
}
/* line 274, ../sass/screen.scss */
.output-tab_item:first-child, .output-tab_item_current:first-child {
  border-left: 1px solid #CFCFCF;
}

/* line 278, ../sass/screen.scss */
.output-tab_item_current {
  background: none;
  background-color: #ffffff;
  color: #000000;
}

/* line 282, ../sass/screen.scss */
.output-box-list {
  position: relative;
  margin-bottom: 20px;
}

/* line 286, ../sass/screen.scss */
.output-box-list .output-read {
  min-height: 100px;
}

/* line 289, ../sass/screen.scss */
.output-box-list .output_textarea {
  height: 100px;
}

/* line 292, ../sass/screen.scss */
.label-title {
  position: absolute;
  top: -15px;
  background: #f9f8e4;
  border: 1px solid #ecebc7;
  color: #9b8d72;
  z-index: 3;
  padding: 0px 5px;
}

/* line 301, ../sass/screen.scss */
.output-read {
  position: relative;
  border: 1px solid #dedede;
  padding: 8px 8px 30px 8px;
  min-height: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

/* line 309, ../sass/screen.scss */
.btn-out_accept .tip, .btn-output_edit .tip {
  display: none;
}

/* line 312, ../sass/screen.scss */
.btn-out_accept, .btn-output_edit {
  color: #000;
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  bottom: 0px;
  left: 10px;
}
/* line 319, ../sass/screen.scss */
.btn-out_accept:hover, .btn-output_edit:hover {
  color: #0e78e7;
}
/* line 322, ../sass/screen.scss */
.btn-out_accept:hover .tip, .btn-output_edit:hover .tip {
  display: block;
}

/* line 326, ../sass/screen.scss */
.btn-output_edit {
  left: 40px;
}

/* line 329, ../sass/screen.scss */
.output-read_hidden, .output-edit_hidden {
  display: none;
}

/* line 333, ../sass/screen.scss */
.output_textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  height: 200px;
  border: 1px solid #dedede;
  outline: 0px;
  resize: none;
}
/* line 341, ../sass/screen.scss */
.output_textarea:focus {
  border: 1px solid #4395ff;
}

/* line 345, ../sass/screen.scss */
.output-toolbar {
  overflow: hidden;
  *zoom: 1;
}

/* line 348, ../sass/screen.scss */
.btn-cancel, .btn-confirm {
  float: right;
  margin-left: 10px;
}

/* line 353, ../sass/screen.scss */
.btn-cancel {
  color: #999999;
}
/* line 355, ../sass/screen.scss */
.btn-cancel:hover {
  color: #000000;
}

/* line 364, ../sass/screen.scss */
.toggle-box {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
}

/* line 370, ../sass/screen.scss */
.toggle_label {
  float: left;
  color: #999999;
}

/* line 374, ../sass/screen.scss */
.btn-toggle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #999;
  background-color: #efefef;
}
/* line 382, ../sass/screen.scss */
.btn-toggle:hover {
  cursor: pointer;
}
/* line 387, ../sass/screen.scss */
.btn-toggle_icon {
  height: 16px;
  width: 16px;
  display: block;
  border: 1px solid #999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  left: 1px;
}

/* line 398, ../sass/screen.scss */
.btn-toggle_on {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

/* line 403, ../sass/screen.scss */
.btn-toggle_on .btn-toggle_icon {
  right: 1px;
  left: auto;
}
